<frameset rows="15%, 85%, *" noresize frameborder="no" FRAMESPACING="5px">

    <frame name = "header"  src="head.jsp" scrolling="no">


    <frameset cols="100%, *">
        <frame name = "nav" src="main.jsp">
    </frameset>
   

</frameset>